@model Anastock.Models.CompanyViewModel
@{
    ViewData["Title"] = "Company";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="text-muted">Company Information</h3>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="Name" class="col-lg-4 col-sm-4 control-label "></label>
                                <div class="col-lg-8">
                                    <input asp-for="Name" id="name" type="text" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger">Company name required</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="Address" class="col-lg-4 col-sm-4 control-label"></label>
                                <div class="col-lg-8">
                                    <input asp-for="Address" id="address" type="text" class="form-control" />
                                    <span asp-validation-for="Address" class="text-danger">Address required</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="Email" class="col-lg-4 col-sm-4 control-label"></label>
                                <div class="col-lg-8">
                                    <input asp-for="Email" id="email" type="email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger">Email not valid</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="Website" class="col-lg-4 col-sm-4 control-label"></label>
                                <div class="col-lg-8">
                                    <input asp-for="Website" id="website" type="text" class="form-control" />
                                    <span asp-validation-for="Website" class="text-danger">Website not valid</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="Phone" class="col-lg-4 col-sm-4 control-label"></label>
                                <div class="col-lg-8">
                                    <input asp-for="Phone" id="phone" type="number" class="form-control" />
                                    <span asp-validation-for="Phone" class="text-danger">Phone not valid</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="Fax" class="col-lg-4 col-sm-4 control-label"></label>
                                <div class="col-lg-8">
                                    <input asp-for="Fax" id="fax" type="text" class="form-control" />
                                    <span asp-validation-for="Fax" class="text-danger">Fax not valid</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="IsGSTEnable" class="col-lg-4 col-sm-24 control-label"></label>
                                <div class="col-sm-6">
                                    <div class="form-check">
                                        @if (Model.IsGSTEnable == true)
                                        {
                                            <input asp-for="IsGSTEnable" class="form-check-input" type="checkbox" id="isgstenable" value="true" checked="checked" onchange="this.value=this.checked">
                                        }
                                        else
                                        {
                                            <input asp-for="IsGSTEnable" class="form-check-input" type="checkbox" id="isgstenable" value="false" onchange="this.value=this.checked">
                                        }
                                        @*<label class="form-check-label" for="IsGSTEnable">
                                    GST Enable
                                </label>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="form-group row">
                                <label asp-for="GSTRegNo" class="col-lg-4 col-sm-24 control-label"></label>
                                <div class="col-lg-8">
                                    <input asp-for="GSTRegNo" id="gstregno" type="text" class="form-control" />
                                    <span asp-validation-for="GSTRegNo"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group row">
                                <label asp-for="GST" class="col-lg-4 col-sm-24 control-label"></label>
                                <div class="col-lg-8">
                                    <input asp-for="GST" id="gst" type="number" class="form-control" />
                                    <span asp-validation-for="GST"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="Logo" class="col-lg-4 col-sm-4 control-label"></label>
                                <div class="col-lg-8">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="attc" accept="image/x-png,image/gif,image/jpeg">
                                        <label class="custom-file-label" for="attc">Choose file</label>
                                        <span asp-validation-for="Logo" class="text-danger">File not valid</span>
                                    </div>
                                </div>
                                <div class="offset-md-4 offset-lg-4 offset-sm-0">
                                    <img alt="" src="@ViewBag.CompanyLogo" class="img-thumbnail img-fluid" style="max-width:160px;margin:8px 20px;" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div style="padding:10px 0;" class="float-right">
                                <input id="submit" type="button" value="Save" class="btn btn-success btn-sm" style="min-width:70px;" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/company.js" asp-append-version="true"></script>
}
<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    span.text-danger {
        display: none;
        color: red;
        font-size: 90%;
    }

    tr.error {
        background-color: rgba(255,0,0,0.35);
    }
</style>